@margins: 20px;
@entry-width: 600px;

#enter-hours-link {
  margin-bottom: 15px;
}

#hour-entry-list {
  margin-top: 30px;
}

.hour-entry {
  width: @entry-width;
  margin: 5px 0px 0px 5px;
  padding: 5px 5px 5px 20px;
  background-color: #38B0DE;
  
  .hour-time {
    margin-bottom: 10px;
  }
  
  .hour-date {
    margin-top: 10px;
    margin-bottom: 6px;
  }
  
  .hour-area {
    margin-top: 6px;
    margin-bottom: 5px;
  }
  
  .hour-desc {
    margin-top: 5px;
  }
  
  .hour-link-bar {
    display: block;
    padding: 25px 0px 15px 0px;
    
    .hour-edit-link {
      display: inline-block;
      margin: 0px 10px 0px 0px;
      a {font-size: 18px;}
    }
    
    .hour-delete-link {
      display:inline-block;
      margin: 0px 0px 0px 10px;
      a {font-size: 18px;}
    }
  }
  
  
  /*.hour-link-bar {
    
    padding: 25px 0px 15px 0px;
    
    .hour-edit-link {
      
    }
    
    .hour-delete-link {
      margin-top: -19px;
      margin-left: 80px;
      
    }
  }*/
}
