/****************************************/
/****************************************/
/* Note: After changing values in this **/
/* file you must run rake more:generate */
/* or the mobile site css will not be   */
/* updated                              */
/****************************************/
/****************************************/
@import '../_functions';
@import '../_colors';

#enter-hours-link {
  margin: 0 0 3% 5%;
  background-color: @object-background;
  padding: 10px;
  display: inline-block;
  .round-corners(10px);
}

#hour-count {
  background-color: @object-background;
  font-size: 27px;
  padding: 10px;
  display: inline-block;
  float: right;
  margin: 0 5% 3% 0;
  .round-corners(10px);
}

  #user-name-inspect {
    margin: 0 25%;
    background-color: @object-background;
    padding: 10px;
    /*display: inline-block;*/
    .round-corners(10px);
    font-size: 26px;
    text-align: center;
  }

.pagination {
  
  margin: 3% 0;  
  
  font-size: 22px;
  a {font-size: 22px;}
  
}

#hour-entry-list {
  margin: 0 20% 200px;
}

.hour-entry {
  clear: right;
  margin: 3% 5%;
  padding: .5% 23px .5% 27px;
  background-color: @object-background;
  border: 8px;
  border-color:black;
  .round-corners;
  
  .hour-time {
    margin-bottom: 10px;
  }
  
  .hour-date {
    margin-top: 10px;
    margin-bottom: 6px;
  }
  
  .hour-area {
    margin-top: 6px;
    margin-bottom: 5px;
  }
  
  .hour-desc {
    margin-top: 5px;
  }
  
  .hour-link-bar {
    display: block;
    padding: 25px 0px 15px 0px;
    a {font-size: 23px;}
    
    .hour-edit-link {
      display: inline-block;
      margin: 0px 10px 0px 0px;
    }
    
    .hour-delete-link {
      display:inline-block;
      margin: 0px 0px 0px 10px;
    }
  }
}
