@import '../_functions';
@import '../_colors';

@margins: 20px;
@entry-width: 600px;

#enter-hours-link {
  margin-left: 5%;
  margin-bottom: 15px;
  background-color: @object-background;
  padding: 10px 10px 10px 10px;
  display: inline-block;
  .round-corners(10px);
}

#hour-entry-list {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 200px;
}

.hour-entry {
  width: @entry-width;
  margin: 15px 0px 0px 15px;
  padding: 5px 5px 5px 20px;
  background-color: @object-background;
  margin-left: 5%;
  margin-right: 5%;
  border: 8px;
  border-color:black;
  .round-corners;
  
  .hour-time {
    margin-bottom: 10px;
  }
  
  .hour-date {
    margin-top: 10px;
    margin-bottom: 6px;
  }
  
  .hour-area {
    margin-top: 6px;
    margin-bottom: 5px;
  }
  
  .hour-desc {
    margin-top: 5px;
  }
  
  .hour-link-bar {
    display: block;
    padding: 25px 0px 15px 0px;
    
    .hour-edit-link {
      display: inline-block;
      margin: 0px 10px 0px 0px;
      a {font-size: 18px;}
    }
    
    .hour-delete-link {
      display:inline-block;
      margin: 0px 0px 0px 10px;
      a {font-size: 18px;}
    }
  }
}
