@import '../_functions';
@import '../_colors';

@font_size: 22px;

.navbar {
  .round-corners(15px);
  z-index: 10;
  padding: 5px 5px 5px 5px;
  background-color: @object-background;
  text-align: center;
  display: inline-block;
  font-size: @font_size;
  
    
    li {
      list-style-type: none;
      display: inline-block;
      margin: 0 10px;
      font-weight: bold;
      
      a {
        font-size: @font_size;
        color: #5555FF;
      }
  }
}

ul.navbar {
  margin: 0 6%;
}

#yield {
  display: block;
  margin-top: 30px;
}
