@import '../_fonts';
@import '_layout';
@import '_hours';

h1 {
  
}

body {
  /* text-align: center; */
  margin-left: 10%;
  margin-right: 10%;
  background-color: #C0D9AF;
  
  a {
    text-decoration: none;
    font-size: 22px;
  }
}


#yield {
  position: relative;
  top: 25px;
  margin-left: 10%;
  margin-right: 10%
}

.form-item {
  padding:6px;
}

.label {
  display: block;
  margin-bottom: 4px;
}

.field {
  display: block;
  margin-top: 4px;
}

.submit-button {
  margin: 15px 0px 0px 6px;
}

.fieldWithErrors {
  
}

.fieldWithErrors label {
  
}

#errorExplanation {
  
}

#errorExplanation h2 {
  
}

#errorExplanation p {
  
}

#errorExplanation ul li {
  
}
