/*@margins: 20px;
@entry-width: 500px;
/*@entry-height: 200px;

.hour-entry {
  /*position: relative;
  width: @entry-width;
  /*height: @entry-height;
  margin-top: @margins;
  margin-bottom: @margins;
  padding-top: @margins;
  padding-bottom: @margins;
  padding-left: @margins;
  background-color: #38B0DE;
  
  .hour-time {
    position: absolute;
    width: 100px;
  }
  
  .hour-date {
    position: absolute;
    right: 0px;
    width: @entry-width/2;
  }
  
  .hour-area {
    position: relative;
    top: 25px; 
  }
  
  .hour-desc {
    position: relative;
    top: 40px;
  }
  
  .hour-link-bar {
    position: relative;
    top: 60px;
    
    .hour-edit-link {
      position: absolute;
    }
    
    .hour-delete-link {
      position: absolute;
      left: 80px;
    }
  }
}*/
.hour-entry {
  background-color:purple;
  margin: 5px 0px 0px 5px;
  padding: 5px 5px 5px 20px;
  
    
  .hour-link-bar {
    
    padding: 5px 0px 5px 0px;
    
    .hour-edit-link {
      
    }
    
    .hour-delete-link {
      margin-top: -19px;
      margin-left: 80px;
      
    }
  }
}
