<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Enter your APO hours</title>
    <%= stylesheet_link_tag 'main'%>
  </head>
  <body>
    
    
    <h1> Login Index Page </h1>
    
    <%= link_to "Register", :controller => :users, :action => :new %>
    
    
    <div id="yield"><%= yield -%></div>
  </body>
</html>
